@model Karkas.Ornek.OracleOrnek.Hr.TypeLibrary.Hr.Departments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Departments</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DepartmentId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DepartmentId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DepartmentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DepartmentName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ManagerId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManagerId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationId)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
